body{
    background: #fededc;
}

h1{
    font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
    margin: 20px auto;
    color:#33493c;
    background-color: #fcf8f3;
    max-width: 600px;
    border-radius: 20px;
    font-size: 38px;
    line-height: 1.5;
    padding:0 13px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header{
    margin-top:80px;
}

.hint{
    font-size: 12px;
    line-height: 1.5;
    opacity:0.6;
    margin-left:-70px;
    margin-top:5px;
}

form{
    background-color: #fcf8f3;
    padding:20px;
    max-width:600px;
    border-radius: 20px;
    margin:20px auto;
   text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input{
    margin:0 auto;
    font-size: 15px;
    line-height: 2;
    display: inline;
    text-align: center;
    border-radius:20px;
    padding:2px 10px;
   
}

.container{
    background-color: #fcf8f3;
    padding:20px;
    text-align: center;
    margin:10px auto;
    max-width: 600px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        border-left: 2px solid #698474;
}

.inputSection{
    width: 300px;
    border-color: #698474;
}

.button{
    background-color:#698474;
    color:#fcf8f3;
}

.hidden{
    display:none;
}

.ct-animate-blink {
    animation: blink 1s infinite;
    animation-fill-mode: both;
}

@keyframes blink {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

footer{
    text-align: center;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #698474;
}